<div class="container">
    <br>
    <h3>Alterar Informações da Pessoa</h3>
    <br>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <div class="col-4">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="pessoa.codigo" disabled>
            </div>
        </div>

        <div>
            <div class="col-4">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="pessoa.nome">
            </div>
            <div>
                <label for="departamento">Departamento</label>
                <input type="text"  class="form-control" width="250" id="departamento" name="departamento" [(ngModel)]="pessoa.departamento">
            </div>
            <div>
                <label for="dataContratacao">Data de Contratação</label>
                <input type="date"  class="form-control" id="dataContratacao" name="dataContratacao" [(ngModel)]="pessoa.dataContratacao">
            </div>
            <div>
                <label for="ativo">Ativo</label>
                <input type="checkbox" id="ativo" name="ativo" [(ngModel)]="pessoa.ativo">
            </div>
        </div>

        <br>
        <div>
            <div class="col-4">
                <button class="btn btn-info" type="submit">Salvar</button>
                <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button>
            </div>
        </div>

    </form>
</div>
